* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 11px;
  color: hsl(193, 38%, 86%);
}

body {
  background-color: hsl(218, 23%, 16%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: hsl(217, 19%, 24%);
  border-radius: 20px;
  width: 344px;
  height: 315px;
  display: flex;
  justify-content: center;
}

.advice-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

#advice-header {
  color: hsl(150, 100%, 66%);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-top: 40px;
  margin-bottom: 0;
}
.quote-container {
  min-height: 145px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}

q {
  font-size: 2.125rem;
  line-height: 1.4;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border: none;
  position: absolute;
  bottom: -32px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 20px 10px hsl(150, 100%, 66%, 0.35);
}

/* --Footer Styles-- */

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 90px;
  align-self: flex-end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* --End Footer Styles-- */

/* --Media Queries-- */

@media (min-width: 1200px) {
  main {
    width: 540px;
    height: 333px;
  }

  .advice-container {
    width: 445px;
  }

  #advice-header {
    font-size: 1.17rem;
    margin-top: 50px;
  }

  q {
    font-size: 2.5rem;
  }
}
